<!-- tableTitle = 'Exclusive Datatable Plugin' -->

<!-- nav = {
  head: 'Export Options',
  content: [
    option1: 'Activity',
    option2: 'FAQ',
    option3: 'Settings',
    option4: [subtitle: 'Support', number: '5']
  ],
  footer: [option1: 'Upgrade plan', option2: 'Learn more']
} -->

<!-- wBlogHeader = {
  url: '/assets/media//products/product4.jpg',
  title: 'Introducing New Feature',
  subTitle: 'Recent'
} -->

<!-- wBlogContent = {
  src : '/assets/media//users/user1.jpg',
  username: 'Anna Krox',
  job: 'UX/UI Designer, Google',
  number: '18',
  comment: 'Comments',
  textContent: 'Lorem Ipsum is simply dummy text of the printing and typesetting scrambled a type specimen book text of the dummy text of the printing printing and typesetting industry scrambled dummy text of the printing.',
  action: 'Read More...'
} -->

<div class="row">
  <div class="col-xl-8">
    <div class="kt-portlet kt-portlet--height-fluid kt-portlet--mobile ">
      <div class="kt-portlet__head kt-portlet__head--lg kt-portlet__head--noborder kt-portlet__head--break-sm">
        <div class="kt-portlet__head-label">
          <h3 class="kt-portlet__head-title">
            <%= tableTitle %>
          </h3>
        </div>
        <div class="kt-portlet__head-toolbar">
          <div class="dropdown dropdown-inline">
            <button type="button" class="btn btn-clean btn-sm btn-icon btn-icon-md" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              <i class="flaticon-more-1"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-right dropdown-menu-md dropdown-menu-fit">

              <!--begin::Nav-->
              <ul class="kt-nav">
                <li class="kt-nav__head">
                  <%= nav.head %>
                  <i class="flaticon2-information" data-toggle="kt-tooltip" data-placement="right"
                    title="Click to learn more..."></i>
                </li>
                <li class="kt-nav__separator"></li>
                <li class="kt-nav__item">
                  <a href="#" class="kt-nav__link">
                    <i class="kt-nav__link-icon flaticon2-drop"></i>
                    <span class="kt-nav__link-text"><%= nav.content[option1] %></span>
                  </a>
                </li>
                <li class="kt-nav__item">
                  <a href="#" class="kt-nav__link">
                    <i class="kt-nav__link-icon flaticon2-calendar-8"></i>
                    <span class="kt-nav__link-text"><%= nav.content[option2] %></span>
                  </a>
                </li>
                <li class="kt-nav__item">
                  <a href="#" class="kt-nav__link">
                    <i class="kt-nav__link-icon flaticon2-link"></i>
                    <span class="kt-nav__link-text"><%= nav.content[option3] %></span>
                  </a>
                </li>
                <li class="kt-nav__item">
                  <a href="#" class="kt-nav__link">
                    <i class="kt-nav__link-icon flaticon2-new-email"></i>
                    <span class="kt-nav__link-text"><%= nav.content[option4] %></span>
                    <span class="kt-nav__link-badge">
                      <span class="kt-badge kt-badge--success">5</span>
                    </span>
                  </a>
                </li>
                <li class="kt-nav__separator"></li>
                <li class="kt-nav__foot">
                  <a class="btn btn-label-danger btn-bold btn-sm" href="#"><%= nav.footer[option1] %></a>
                  <a class="btn btn-clean btn-bold btn-sm" href="#" data-toggle="kt-tooltip" data-placement="right"
                    title="Click to learn more..."><%= nav.footer[option2] %></a>
                </li>
              </ul>

              <!--end::Nav-->
            </div>
          </div>
        </div>
      </div>
      <div class="kt-portlet__body kt-portlet__body--fit">

        <!--begin: Datatable -->
        <div class="kt-datatable" id="kt_datatable_latest_orders"></div>

        <!--end: Datatable -->
      </div>
    </div>
  </div>
  <div class="col-xl-4">

    <!--begin:: Widgets/Blog-->
    <div class="kt-portlet kt-portlet--height-fluid kt-widget19">
        <!-- (./assets/media//products/product4.jpg) -->
        <!-- <%= wBlogHeader.url %> -->
      <div class="kt-portlet__body kt-portlet__body--fit kt-portlet__body--unfill">
        <div class="kt-widget19__pic kt-portlet-fit--top kt-portlet-fit--sides"
          style="min-height: 300px; background-image: url(./assets/media//products/product4.jpg)">
          <h3 class="kt-widget19__title kt-font-light">
            <%= wBlogHeader.title %>
          </h3>
          <div class="kt-widget19__shadow"></div>
          <div class="kt-widget19__labels">
            <a href="#" class="btn btn-label-light-o2 btn-bold btn-sm "><%= wBlogHeader.subTitle %></a>
          </div>
        </div>
      </div>
      <div class="kt-portlet__body">
        <div class="kt-widget19__wrapper">
          <div class="kt-widget19__content">
            <div class="kt-widget19__userpic">
              <img src="<%= wBlogContent.src %>" alt="">
            </div>
            <div class="kt-widget19__info">
              <a href="#" class="kt-widget19__username">
                <%= wBlogContent.username %>
              </a>
              <span class="kt-widget19__time">
                <%= wBlogContent.job %>
              </span>
            </div>
            <div class="kt-widget19__stats">
              <span class="kt-widget19__number kt-font-brand">
                <%= wBlogContent.number %>
              </span>
              <a href="#" class="kt-widget19__comment">
                <%= wBlogContent.comment %>
              </a>
            </div>
          </div>
          <div class="kt-widget19__text">
            <%= wBlogContent.textContent %>
          </div>
        </div>
        <div class="kt-widget19__action">
          <a href="#" class="btn btn-sm btn-label-brand btn-bold"><%= wBlogContent.footer %></a>
        </div>
      </div>
    </div>

    <!--end:: Widgets/Blog-->
  </div>
</div>
