<!-- list = {
  title: 'Fluid Pricing Table',
  item1: [
    price: 'Free',
    subtitle: '1 End Product License',
    desc: '<span>Lorem ipsum aret</span><span>sed do eiusmod</span><span>magna siad ali</span>',
    button: 'Purchase'
  ],
  item2: [
    price: '69<span class="kt-pricing-1__label">$</span>',
    subtitle: 'Business License',
    desc: '<span>Lorem ipsum</span><span>sed do eiusmod</span><span>magna siad enim aliqua</span>',
    button: 'Purchase'
  ],
  item3: [
    price: '548<span class="kt-pricing-1__label">$</span>',
    subtitle: 'Enterprice License',
    desc: '<span>Lorem ipsum dolor</span><span>sed do eiusmod</span><span>magna siad enim</span>',
    button: 'Purchase'
  ],
  item4: [
    price: '899<span class="kt-pricing-1__label">$</span>',
    subtitle: 'Custom License',
    desc: '<span>Lorem ipsum</span><span>sed do eiusmod tem</span><span>magna siad enim</span>',
    button: 'Purchase'
  ]
} -->

<div class="kt-portlet">
  <div class="kt-portlet__head">
    <div class="kt-portlet__head-label">
      <span class="kt-portlet__head-icon">
        <i class="la la-leaf"></i>
      </span>
      <h3 class="kt-portlet__head-title">
        <%= list.title %>
      </h3>
    </div>
  </div>
  <div class="kt-portlet__body">
    <div class="kt-pricing-1">
      <div class="kt-pricing-1__items row">
        <div class="kt-pricing-1__item col-lg-3">
          <div class="kt-pricing-1__visual">
            <div class="kt-pricing-1__hexagon1"></div>
            <div class="kt-pricing-1__hexagon2"></div>
            <span class="kt-pricing-1__icon kt-font-brand"><i class="fa flaticon-piggy-bank"></i></span>
          </div>
          <span class="kt-pricing-1__price"><%= list.item1[pricing] %></span>
          <h2 class="kt-pricing-1__subtitle"><%= list.item1[subtitle] %></h2>
          <span class="kt-pricing-1__description">
            <%= list.item1[desc] %>
          </span>
          <div class="kt-pricing-1__btn">
            <button type="button"
              class="btn btn-brand btn-custom btn-pill btn-wide btn-uppercase btn-bolder btn-sm"><%= list.item1[button] %></button>
          </div>
        </div>
        <div class="kt-pricing-1__item col-lg-3">
          <div class="kt-pricing-1__visual">
            <div class="kt-pricing-1__hexagon1"></div>
            <div class="kt-pricing-1__hexagon2"></div>
            <span class="kt-pricing-1__icon kt-font-success"><i class="fa flaticon-confetti"></i></span>
          </div>
          <span class="kt-pricing-1__price"><%= list.item2[pricing] %></span>
          <h2 class="kt-pricing-1__subtitle"><%= list.item2[subtitle] %></h2>
          <span class="kt-pricing-1__description">
            <%= list.item2[desc] %>
          </span>
          <div class="kt-pricing-1__btn">
            <button type="button"
              class="btn btn-pill  btn-success btn-wide btn-uppercase btn-bolder btn-sm"><%= list.item2[button] %></button>
          </div>
        </div>
        <div class="kt-pricing-1__item col-lg-3">
          <div class="kt-pricing-1__visual">
            <div class="kt-pricing-1__hexagon1"></div>
            <div class="kt-pricing-1__hexagon2"></div>
            <span class="kt-pricing-1__icon kt-font-danger"><i class="fa flaticon-rocket"></i></span>
          </div>
          <span class="kt-pricing-1__price"><%= list.item3[pricing] %></span>
          <h2 class="kt-pricing-1__subtitle"><%= list.item3[subtitle] %></h2>
          <span class="kt-pricing-1__description">
            <%= list.item3[desc] %>
          </span>
          <div class="kt-pricing-1__btn">
            <button type="button"
              class="btn btn-pill  btn-danger btn-wide btn-uppercase btn-bolder btn-sm"><%= list.item3[button] %></button>
          </div>
        </div>
        <div class="kt-pricing-1__item col-lg-3">
          <div class="kt-pricing-1__visual">
            <div class="kt-pricing-1__hexagon1"></div>
            <div class="kt-pricing-1__hexagon2"></div>
            <span class="kt-pricing-1__icon kt-font-warning"><i class="fa flaticon-gift"></i></span>
          </div>
          <span class="kt-pricing-1__price"><%= list.item4[pricing] %></span>
          <h2 class="kt-pricing-1__subtitle"><%= list.item4[subtitle] %></h2>
          <span class="kt-pricing-1__description">
            <%= list.item4[desc] %>
          </span>
          <div class="kt-pricing-1__btn">
            <button type="button"
              class="btn btn-pill  btn-warning btn-wide btn-uppercase btn-bolder btn-sm"><%= list.item4[button] %></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
