<div class="kt-grid kt-grid--ver kt-grid--root">
  <div class="kt-grid kt-grid--hor kt-grid--root kt-login kt-login--v2 kt-login--signin" id="kt_login">
    <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor"
      style="background-image: url(<%= background.url %>);">
      <div class="kt-grid__item kt-grid__item--fluid kt-login__wrapper">
        <div class="kt-login__container">
          <div class="kt-login__logo">
            <a href="#">
              <img src="<%= logo.src %>">
            </a>
          </div>

          <%- form %>

          <div class="kt-login__account">
            <span class="kt-login__account-msg">
              <%= footer[0] %>
            </span>&nbsp;&nbsp;
            <a href="javascript:;" id="kt_login_signup"
              class="kt-link kt-link--light kt-login__account-link"><%= footer[1] %></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
