<div class="kt-widget4__item">
    <div class="kt-widget4__pic kt-widget4__pic--pic">
        <img src=<%= data.portletSection31.img %> alt="">
    </div>
    <div class="kt-widget4__info">
        <a href=<%= data.portletSection31.link %> class="kt-widget4__username">
                <%= data.portletSection31.username %>
        </a>
        <p class="kt-widget4__text">
                <%= data.portletSection31.text %>
        </p>
    </div>
    <a href=<%= data.portletSection31.btn.link %> class="btn btn-sm btn-label-brand btn-bold"><%= data.portletSection31.btn.text %></a>
</div>