
<div class="kt-widget5__item">
    <div class="kt-widget5__content">
        <div class="kt-widget5__pic">
            <img class="kt-widget7__img" src=<%= data.portletSection3.img %> alt="">
        </div>
        <div class="kt-widget5__section">
            <a href=<%= data.portletSection3.section.link %> class="kt-widget5__title">
                <%= data.portletSection3.section.title %>
            </a>
            <p class="kt-widget5__desc">
                    <%= data.portletSection3.section.desc %>
            </p>
            <div class="kt-widget5__info">
                <span><%= data.portletSection3.const[0] %></span>
                <span class="kt-font-info"><%= data.portletSection3.section.info[0] %></span>
                <span><%= data.portletSection3.const[1] %></span>
                <span class="kt-font-info"><%= data.portletSection3.section.info[1] %></span>
            </div>
        </div>
    </div>
    <div class="kt-widget5__content">
        <div class="kt-widget5__stats">
            <span class="kt-widget5__number">19,200</span>
            <span class="kt-widget5__sales"><%= data.portletSection3.const[2] %></span>
        </div>
        <div class="kt-widget5__stats">
            <span class="kt-widget5__number">1046</span>
            <span class="kt-widget5__votes"><%= data.portletSection3.const[3] %></span>
        </div>
    </div>
</div>