<div class="kt-widget3__item">
    <div class="kt-widget3__header">
        <div class="kt-widget3__user-img">
            <img class="kt-widget3__img" src=<%= data.portletSection52.img %> alt="">
        </div>
        <div class="kt-widget3__info">
            <a href=<%= data.portletSection52.link %> class="kt-widget3__username">
                <%= data.portletSection52.username %>
            </a><br>
            <span class="kt-widget3__time">
                <%= data.portletSection52.time %>
            </span>
        </div>
        <span class="kt-widget3__status kt-font-info">
            <%= data.portletSection52.status %>
        </span>
    </div>
    <div class="kt-widget3__body">
        <p class="kt-widget3__text">
            <%- data.portletSection52.text %>
        </p>
    </div>
</div>