<div class="kt-footer kt-grid__item kt-grid kt-grid--desktop kt-grid--ver-desktop" id="kt_footer">
	<div class="kt-footer__copyright">
		<%= footer.copyright.year %>&nbsp;&copy;&nbsp;<a href=<%= footer.copyright.link %> target="_blank" class="kt-link"><%= footer.copyright.text %></a>
	</div>
	<div class="kt-footer__menu">
		<a href=<%= footer.menu[0].link %> target="_blank" class="kt-footer__menu-link kt-link"><%= footer.menu[0].text %></a>
		<a href=<%= footer.menu[1].link %> target="_blank" class="kt-footer__menu-link kt-link"><%= footer.menu[1].text %></a>
		<a href=<%= footer.menu[2].link %> target="_blank" class="kt-footer__menu-link kt-link"><%= footer.menu[2].text %></a>
	</div>
</div>