
<div class="kt-widget5__item">
    <div class="kt-widget5__content">
        <div class="kt-widget5__pic">
            <img class="kt-widget7__img" src=<%= portletSection3.img %> alt="">
        </div>
        <div class="kt-widget5__section">
            <a href=<%= portletSection3.section.link %> class="kt-widget5__title">
                <%= portletSection3.section.title %>
            </a>
            <p class="kt-widget5__desc">
                    <%= portletSection3.section.desc %>
            </p>
            <div class="kt-widget5__info">
                <span><%= portletSection3.const[0] %></span>
                <span class="kt-font-info"><%= portletSection3.section.info[0] %></span>
                <span><%= portletSection3.const[1] %></span>
                <span class="kt-font-info"><%= portletSection3.section.info[1] %></span>
            </div>
        </div>
    </div>
    <div class="kt-widget5__content">
        <div class="kt-widget5__stats">
            <span class="kt-widget5__number">19,200</span>
            <span class="kt-widget5__sales"><%= portletSection3.const[2] %></span>
        </div>
        <div class="kt-widget5__stats">
            <span class="kt-widget5__number">1046</span>
            <span class="kt-widget5__votes"><%= portletSection3.const[3] %></span>
        </div>
    </div>
</div>