
<div class="kt-grid__item kt-grid__item--order-tablet-and-mobile-2 kt-grid kt-grid--hor kt-login__aside"
  style="background-image: url(<%= login1.background.url %>);">
  <div class="kt-grid__item">
    <a href="#" class="kt-login__logo">
      <img src="<%= login1.logo.src %>">
    </a>
  </div>
  <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver">
    <div class="kt-grid__item kt-grid__item--middle">
      <h3 class="kt-login__title"><%= login1.middle.title %></h3>
      <h4 class="kt-login__subtitle"><%= login1.middle.subtitle %></h4>
    </div>
  </div>
  <div class="kt-grid__item">
    <div class="kt-login__info">
      <div class="kt-login__copyright">
        <%= login1.info.copyRight %>
      </div>
      <div class="kt-login__menu">
        <a href="#" class="kt-link"><%= login1.info.menu[0] %></a>
        <a href="#" class="kt-link"><%= login1.info.menu[1] %></a>
        <a href="#" class="kt-link"><%= login1.info.menu[2] %></a>
      </div>
    </div>
  </div>
</div>
