<!-- list = {
  content: [
    item1: [data1: 'Number Of Users', data2: 'Up to 10k', data3: 'Up to 100k', data4: 'Unlimited'],
    item2: [data1: 'Domains', data2: '1', data3: '20', data4: '100'],
    item3: [data1: 'Projects', data2: '5', data3: '100', data4: '500'],
    item4: [data1: 'Storage', data2: '5GB', data3: '200GB', data4: 'Unlimited'],
    item5: [data1: 'Supporet', data2: 'No', data3: 'Yes', data4: 'Yes'],
    item6: [data1: 'Tutorials', data2: 'No', data3: 'Yes', data4: 'Yes'],
    item7: [data1: 'Cancelation', data2: 'Yes', data3: 'Yes', data4: 'Yes'],
  ]
} -->

<div class="kt-pricing-4__bottom">
  <div class="kt-pricing-4__bottok-container kt-pricing-4__bottok-container--fixed">
    <div class="kt-pricing-4__bottom-items">
      <div class="kt-pricing-4__bottom-item">
        <%= list.content[item1[data1]] %>
      </div>
      <div class="kt-pricing-4__bottom-item">
        <%= list.content[item1[data2]] %>
      </div>
      <div class="kt-pricing-4__bottom-item">
        <%= list.content[item1[data3]] %>
      </div>
      <div class="kt-pricing-4__bottom-item">
        <%= list.content[item1[data4]] %>
      </div>
    </div>
    <div class="kt-pricing-4__bottom-items">
      <div class="kt-pricing-4__bottom-item">
        <%= list.content[item2[data1]] %>
      </div>
      <div class="kt-pricing-4__bottom-item">
        <%= list.content[item2[data2]] %>
      </div>
      <div class="kt-pricing-4__bottom-item">
        <%= list.content[item2[data3]] %>
      </div>
      <div class="kt-pricing-4__bottom-item">
        <%= list.content[item2[data4]] %>
      </div>
    </div>
    <div class="kt-pricing-4__bottom-items">
      <div class="kt-pricing-4__bottom-item">
        <%= list.content[item3[data1]] %>
      </div>
      <div class="kt-pricing-4__bottom-item">
        <%= list.content[item3[data2]] %>
      </div>
      <div class="kt-pricing-4__bottom-item">
        <%= list.content[item3[data3]] %>
      </div>
      <div class="kt-pricing-4__bottom-item">
        <%= list.content[item3[data4]] %>
      </div>
    </div>
    <div class="kt-pricing-4__bottom-items">
      <div class="kt-pricing-4__bottom-item">
        <%= list.content[item4[data1]] %>
      </div>
      <div class="kt-pricing-4__bottom-item">
        <%= list.content[item4[data2]] %>
      </div>
      <div class="kt-pricing-4__bottom-item">
        <%= list.content[item4[data3]] %>
      </div>
      <div class="kt-pricing-4__bottom-item">
        <%= list.content[item4[data4]] %>
      </div>
    </div>
    <div class="kt-pricing-4__bottom-items">
      <div class="kt-pricing-4__bottom-item">
        <%= list.content[item5[data1]] %>
      </div>
      <div class="kt-pricing-4__bottom-item">
        <%= list.content[item5[data2]] %>
      </div>
      <div class="kt-pricing-4__bottom-item">
        <%= list.content[item5[data3]] %>
      </div>
      <div class="kt-pricing-4__bottom-item">
        <%= list.content[item5[data4]] %>
      </div>
    </div>
    <div class="kt-pricing-4__bottom-items">
      <div class="kt-pricing-4__bottom-item">
        <%= list.content[item6[data1]] %>
      </div>
      <div class="kt-pricing-4__bottom-item">
        <%= list.content[item6[data2]] %>
      </div>
      <div class="kt-pricing-4__bottom-item">
        <%= list.content[item6[data3]] %>
      </div>
      <div class="kt-pricing-4__bottom-item">
        <%= list.content[item6[data4]] %>
      </div>
    </div>
    <div class="kt-pricing-4__bottom-items">
      <div class="kt-pricing-4__bottom-item">
        <%= list.content[item7[data1]] %>
      </div>
      <div class="kt-pricing-4__bottom-item">
        <%= list.content[item7[data2]] %>
      </div>
      <div class="kt-pricing-4__bottom-item">
        <%= list.content[item7[data3]] %>
      </div>
      <div class="kt-pricing-4__bottom-item">
        <%= list.content[item7[data4]] %>
      </div>
    </div>
  </div>
</div>
